
body{
  background-color:#225d77;
  height: 100%;
  width: 100%;  
  }

.container, .container-btn{
  display: flex;
  justify-content: center;
  }
.top{
  max-width: 100%;
  height: 160px;
}
video{
  object-fit:cover;
  height: 50vh;
  width: 100%;
} 

.block{
  display: flex;
  justify-content: center;
}
.head-block{
  font-size: 30px;
  color: white;
  margin: 30px;
  padding: 10px;
}
.par-block{
  align-self: center;
  font-size: 30px;
  margin: 10px;
}

.first-page{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

footer{
  max-width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: white;
  box-shadow:0 -15px 10px 0 rgba(0,0,0,0.2);
} 
.contacts{
  font-size: 25px;
  text-decoration: none;
  color:#225d77;
}
.heading{
  background-color:white;
  padding: 8px;
  width:65px;
  color:#225d77;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 30%); 
  margin-top: 40px;
}

h1{
  font-family: 'Alegreya Sans', sans-serif;
}
nav{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: white;
  box-shadow: 20px 20px 50px rgb(0 0 0 / 60%); 
  padding: 10px;
}
.link{
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color:#225d77;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.link:hover{
  background-color: yellow;
}

.name{
  display:block;
  font-size: 25px;
  margin-left: 150px;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
}

.btn {
  background-color: #225d77;
  color: #f6f8e4;
  padding: 10px;
  margin:20px;
  border: none;
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
}
.btn:hover{
  color: #011828;
}
.container-card{
  display: flex;
  flex-direction: column;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
h4{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  align-self: center;
  margin: 0px;
}

.photo-container{
  display: flex;
  justify-content:space-between;
  padding: 10px;
  margin:40px 20px;
} 
.photo-adults{
  display: flex;
  }
.cta{
  border: none;
  font-size: 25px;
  background-color: #225d77;
}

h2{
  margin-top: 40px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 35px;
  color: white;
}
.par-art{
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}
p{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  color: white;
  margin:  0px 30px;
}

.text-input{
  margin: 7px;
  padding: 10px 15px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  width: 500px;
}
.btnForm{
  background-color: white;
  color: #225d77;
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  border: none;
  width: 150px;
  margin-top: 7px;
  margin-bottom: 50px;
}
.btnForm:hover{
  background-color: yellow;
}

.contactForm{
  display: flex;
  justify-content: space-around;
}
.par{
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
}

.classes{
  background-color:white;
  padding: 10px;
  width: 240px;
  color:#225d77;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  margin-top: 50px;
  box-shadow: 20px 20px 40px rgb(0 0 0 / 30%); 
}
.master-container{
  display: flex;
  justify-content: space-around;
}
.master{
  display: flex;
  flex-direction: column;
}
.text{
  font-size: 30px;
  margin: 0px 20px;
}
.information{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.sections{
  text-decoration: none;
  color: white;
  padding: 10px;
  margin:20px;
  font-size: 40px;
  font-family: 'Alegreya Sans', sans-serif;
  align-self: center;
}
.sections:hover{
  color: #011828;
}
.back{
  position: fixed;
  bottom: -50px;
}
.scroll-container{
  display: flex;
  justify-content: flex-end;
}
.scrolling{
  padding: 20px;
  font-size: 50px;
  color: white;
}
.scrolling:hover{
  color: #011828;
}

.contacts-art{
  display: none;
}


@media all and (max-width:820px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .top{
    height: 100px;
  }
  nav{
    max-width: 100%;
    padding: 20px;
  }
  .footer{
    max-width: 100%;
  }
  .link{
    font-size: 25px;
    padding: 0px;
  }
  .container-btn{
    flex-direction: column;
  }
  .btn{
    margin: 0;
    padding: 5px;
  }
  img{
    width: 290px;
    height: 300px;
    margin-left: 20px;
  }
  .par-art{
    font-size: 20px;
  }
  
  .contacts-art{
    display: block;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .contact-img{
  width: 30px;
  height: 30px;
  }
.photo-container{
  flex-direction: column;
}
.photo-adults{
  display:flex;
  justify-content: space-around;
}
.photo{
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 20px;
}
.photo-kids{
  align-self: center;
  width: 500px;
  height: 400px;
  padding: 10px;
  margin: 10px;
}
.master-adults{
  height: 240px;
  width: 350px;
}
.information{
  flex-direction: column;
}
.par-about{
  margin-top: 40px;
}
.contactForm{
  height: 100%;
}

video{
  height: 50%;
  position: relative;
}

.first-page{
  flex-wrap: wrap;
}
.art-block{
  margin: 10px;
  padding: 5px;
  width: 320px;
  height: 220px;
}
.instagram-img{
  width: 60px;
  height: 60px;
}
.scrolling{
  font-size: 70px;
}
.heading{
  margin-bottom: 20px;
}
}

@media all and (max-width:500px){

.top{
  height: 50px;
}
nav{
  padding: 10px;
}
.link{
  font-size: 15px;
}

.head-block{
  font-size: 20px;
}
.par-block{
  font-size: 20px;
  margin: 5px;
}
.instagram-img{
  width: 40px;
  height: 40px;
  margin: 0;
}
.btn{
  margin: 0px;
  font-size: 25px;
}

.par-art{
  font-size: 18px;
}
footer{
  height: 60px;
  
}
.contact-img{
  width: 15px;
  height: 15px;
}
.contacts{
  font-size: 12px;
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
  font-size: 18px;
}
.master-container{
  display: none;
}
.master-adults{
  width: 300px;
  height: 200px;
}
.photo-adults{
  flex-wrap: wrap;
}
.photo{
  width: 250px;
  height: 350px;
}

.photo-kids{
  width: 330px;
  height:230px;
}
  .contacts-art{
    width: 300px;
    height: 200px;
  }
  .text-input{
    width: 300px;
    padding: 5px 10px;
  }
  .par{
    font-size: 20px;
    padding: 20px;
  }
  .scrolling{
    font-size: 60px;
  }
}